#app {

  .main-container {
    min-height: 100%;
    transition: margin-left $transitionBase;
    margin-left: $sideBarWidth;
    position: relative;
    background: $contentBg;
  }

  .sidebar-container {
    transition: width $transitionBase;
    width: $sideBarWidth !important;
    background: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.12);

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 60px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 12px;
      font-size: 18px;
      flex-shrink: 0;
    }

    .sub-el-icon {
      margin-right: 10px;
      margin-left: 0;
      font-size: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      padding: 12px 10px;
    }

    /* 一级分组之间留白 */
    .el-menu > .el-submenu {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .el-menu-item,
    .el-submenu__title {
      height: 42px !important;
      line-height: 42px !important;
      margin: 2px 0;
      border-radius: 10px;
      transition: background $transitionBase, color $transitionBase;
      color: $menuText;
      font-size: 14px;
    }

    .el-submenu__title {
      font-weight: 500;
    }

    .el-menu-item.is-active {
      background: $menuActiveBg !important;
      color: $menuActiveText !important;
      border-left: 3px solid $menuActiveBorder;
      margin-left: 12px;
      padding-left: 9px !important;
      font-weight: $fontWeightMedium;
    }

    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      margin: 2px 0;
      border-radius: 10px;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }

    & .nest-menu .el-menu-item.is-active {
      background: $menuActiveBg !important;
      border-left: 3px solid $menuActiveBorder;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $sidebarCollapseWidth !important;
    }

    .main-container {
      margin-left: $sidebarCollapseWidth;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sideBarWidth, 0, 0);
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
