networks:
  go-ldap-admin:
    driver: bridge

services:
  gateway:
    image: nginx:alpine
    container_name: go-ldap-admin-gateway
    restart: always
    ports:
      - "${HTTP_PORT:-8080}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - go-ldap-admin-ui
      - go-ldap-admin-server
    networks:
      - go-ldap-admin

  go-ldap-admin-ui:
    image: ${UI_IMAGE:-ghcr.io/dashug/go-ldap-admin-ui:latest}
    container_name: go-ldap-admin-ui
    restart: always
    networks:
      - go-ldap-admin

  go-ldap-admin-server:
    image: ${SERVER_IMAGE:-ghcr.io/dashug/go-ldap-admin:latest}
    container_name: go-ldap-admin-server
    restart: always
    environment:
      WAIT_HOSTS: ${WAIT_HOSTS:-}
    volumes:
      - ./runtime/config.yml:/app/config.yml
      - ./runtime/data:/app/data
    networks:
      - go-ldap-admin

  openldap:
    image: docker.cnb.cool/znb/images/openldap:1.4.1
    container_name: go-ldap-admin-openldap
    restart: always
    profiles: ["openldap"]
    environment:
      TZ: Asia/Shanghai
      LDAP_ORGANISATION: "${LDAP_ORGANISATION:-example.com}"
      LDAP_DOMAIN: "${LDAP_DOMAIN:-example.com}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD:-123456}"
    command: [ '--copy-service' ]
    volumes:
      - ./runtime/openldap/database:/var/lib/ldap
      - ./runtime/openldap/config:/etc/ldap/slapd.d
    ports:
      - "${LDAP_PORT:-389}:389"
    networks:
      - go-ldap-admin
